@font-face {
	font-family: 'Products';
	src:url('Products.eot?-tihd8q');
	src:url('Products.eot?#iefix-tihd8q') format('embedded-opentype'),
		url('Products.woff?-tihd8q') format('woff'),
		url('Products.ttf?-tihd8q') format('truetype'),
		url('Products.svg?-tihd8q#Products') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="products-"], [class*=" products-"] {
	font-family: 'Products';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.products-shop4:before {
	content: "\e600";
}
.products-shop3:before {
	content: "\e601";
}
.products-shop2:before {
	content: "\e602";
}
.products-shop:before {
	content: "\e603";
}
.products-arrow_up3:before {
	content: "\e604";
}
.products-arrow_up2:before {
	content: "\e605";
}
.products-arrow_up:before {
	content: "\e606";
}
.products-arrow_right3:before {
	content: "\e607";
}
.products-arrow_right2:before {
	content: "\e608";
}
.products-arrow_right:before {
	content: "\e609";
}
.products-arrow_left3:before {
	content: "\e60a";
}
.products-arrow_left2:before {
	content: "\e60b";
}
.products-arrow_left:before {
	content: "\e60c";
}
.products-arrow_down3:before {
	content: "\e60d";
}
.products-arrow_down2:before {
	content: "\e60e";
}
.products-arrow_down:before {
	content: "\e60f";
}
